div {
    min-width: 200px;
    height: 200px;
    background-color: black;
    display: flex;
    align-content: center;
    align-items: center;
    color: white;
    justify-content: center;
    margin: 5px;
    text-align: center;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-name: zoom;
    transform: scale(0);
    transition-property: all;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes zoom {
    to {
        transform: scale(1);
    }
}