<h1>Prueba usando ComponentFactoryResolver</h1>

<h2>Componentes Hechos</h2>
<div class="orden">
    <app-receptor compo="1"></app-receptor>
    <app-receptor compo="3"></app-receptor>
    <app-receptor compo="4"></app-receptor>
</div>

<h2>Componente dinámico</h2>
<input type="text" #mensaje><br/>
<label><input type="checkbox" (change)="cambio($event.target.checked)" checked /> Color aleatorio</label><br/>
<input type="color" #color [disabled]="cbox"><br/>
<button (click)="componenteDinamico(mensaje.value, color.value)"> Crear Componente </button>
<br/>
<div class="orden">
    <ng-template appColordinamico></ng-template>
</div>

<div class="visita">
    <a href="https://unprogramador.com/" target="_blank">Visita unprogramador</a>
</div>