.visita {
    position: fixed;
    min-height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
    text-align: center;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: all 1s linear;
}

.visita:hover {
    background-color: white;
}

.visita a {
    padding: 8px;
}