/* You can add global styles to this file, and also import other style files */

.orden {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

html,
body {
    background: rgba(226, 226, 226, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(226, 226, 226, 1) 0%, rgba(226, 226, 226, 1) 48%, rgba(254, 254, 254, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(226, 226, 226, 1)), color-stop(48%, rgba(226, 226, 226, 1)), color-stop(100%, rgba(254, 254, 254, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(226, 226, 226, 1) 0%, rgba(226, 226, 226, 1) 48%, rgba(254, 254, 254, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(226, 226, 226, 1) 0%, rgba(226, 226, 226, 1) 48%, rgba(254, 254, 254, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(226, 226, 226, 1) 0%, rgba(226, 226, 226, 1) 48%, rgba(254, 254, 254, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(226, 226, 226, 1) 0%, rgba(226, 226, 226, 1) 48%, rgba(254, 254, 254, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1);
}